// Reconstructed resources for ski32 v1.04.
// STRINGTABLE ids 1-17: runtime-verified with the LoadStringA probe
// (harness/strprobe) against the original under Wine: ids 1-17 resolve
// exactly as below, id 0 and 18+ fail, no empty entry. The original's
// string blobs live in .data at VA 0x410718 (file offset 0x1c718) as a
// hand-rolled length-prefixed UTF-16LE table; the PE's RT_STRING node is
// malformed. A standard STRINGTABLE reproduces the observed LoadStringA
// mapping.
STRINGTABLE
BEGIN
    1 "SkiFree"
    2 "Ski Paused ... Press F3 to continue"
    3 "Time:"
    4 "Dist:"
    5 "Speed:"
    6 "Style:"
    7 "00:00:00.00"
    8 " 0000m"
    9 " 0000m/s"
    10 "0000000"
    11 "%2u:%2.2u:%2.2u.%2.2u"
    12 "%5.2dm"
    13 "%5.2dm/s"
    14 "%7ld"
    15 "High Scores"
    16 " <-- that's you!"
    17 " <-- try again!"
END

1 BITMAP "res/bmp_001.bmp"
2 BITMAP "res/bmp_002.bmp"
3 BITMAP "res/bmp_003.bmp"
4 BITMAP "res/bmp_004.bmp"
5 BITMAP "res/bmp_005.bmp"
6 BITMAP "res/bmp_006.bmp"
7 BITMAP "res/bmp_007.bmp"
8 BITMAP "res/bmp_008.bmp"
9 BITMAP "res/bmp_009.bmp"
10 BITMAP "res/bmp_010.bmp"
11 BITMAP "res/bmp_011.bmp"
12 BITMAP "res/bmp_012.bmp"
13 BITMAP "res/bmp_013.bmp"
14 BITMAP "res/bmp_014.bmp"
15 BITMAP "res/bmp_015.bmp"
16 BITMAP "res/bmp_016.bmp"
17 BITMAP "res/bmp_017.bmp"
18 BITMAP "res/bmp_018.bmp"
19 BITMAP "res/bmp_019.bmp"
20 BITMAP "res/bmp_020.bmp"
21 BITMAP "res/bmp_021.bmp"
22 BITMAP "res/bmp_022.bmp"
23 BITMAP "res/bmp_023.bmp"
24 BITMAP "res/bmp_024.bmp"
25 BITMAP "res/bmp_025.bmp"
26 BITMAP "res/bmp_026.bmp"
27 BITMAP "res/bmp_027.bmp"
28 BITMAP "res/bmp_028.bmp"
29 BITMAP "res/bmp_029.bmp"
30 BITMAP "res/bmp_030.bmp"
31 BITMAP "res/bmp_031.bmp"
32 BITMAP "res/bmp_032.bmp"
33 BITMAP "res/bmp_033.bmp"
34 BITMAP "res/bmp_034.bmp"
35 BITMAP "res/bmp_035.bmp"
36 BITMAP "res/bmp_036.bmp"
37 BITMAP "res/bmp_037.bmp"
38 BITMAP "res/bmp_038.bmp"
39 BITMAP "res/bmp_039.bmp"
40 BITMAP "res/bmp_040.bmp"
41 BITMAP "res/bmp_041.bmp"
42 BITMAP "res/bmp_042.bmp"
43 BITMAP "res/bmp_043.bmp"
44 BITMAP "res/bmp_044.bmp"
45 BITMAP "res/bmp_045.bmp"
46 BITMAP "res/bmp_046.bmp"
47 BITMAP "res/bmp_047.bmp"
48 BITMAP "res/bmp_048.bmp"
49 BITMAP "res/bmp_049.bmp"
50 BITMAP "res/bmp_050.bmp"
51 BITMAP "res/bmp_051.bmp"
52 BITMAP "res/bmp_052.bmp"
53 BITMAP "res/bmp_053.bmp"
54 BITMAP "res/bmp_054.bmp"
55 BITMAP "res/bmp_055.bmp"
56 BITMAP "res/bmp_056.bmp"
57 BITMAP "res/bmp_057.bmp"
58 BITMAP "res/bmp_058.bmp"
59 BITMAP "res/bmp_059.bmp"
60 BITMAP "res/bmp_060.bmp"
61 BITMAP "res/bmp_061.bmp"
62 BITMAP "res/bmp_062.bmp"
63 BITMAP "res/bmp_063.bmp"
64 BITMAP "res/bmp_064.bmp"
65 BITMAP "res/bmp_065.bmp"
66 BITMAP "res/bmp_066.bmp"
67 BITMAP "res/bmp_067.bmp"
68 BITMAP "res/bmp_068.bmp"
69 BITMAP "res/bmp_069.bmp"
70 BITMAP "res/bmp_070.bmp"
71 BITMAP "res/bmp_071.bmp"
72 BITMAP "res/bmp_072.bmp"
73 BITMAP "res/bmp_073.bmp"
74 BITMAP "res/bmp_074.bmp"
75 BITMAP "res/bmp_075.bmp"
76 BITMAP "res/bmp_076.bmp"
77 BITMAP "res/bmp_077.bmp"
78 BITMAP "res/bmp_078.bmp"
79 BITMAP "res/bmp_079.bmp"
80 BITMAP "res/bmp_080.bmp"
81 BITMAP "res/bmp_081.bmp"
82 BITMAP "res/bmp_082.bmp"
83 BITMAP "res/bmp_083.bmp"
84 BITMAP "res/bmp_084.bmp"
85 BITMAP "res/bmp_085.bmp"
86 BITMAP "res/bmp_086.bmp"
87 BITMAP "res/bmp_087.bmp"
88 BITMAP "res/bmp_088.bmp"
89 BITMAP "res/bmp_089.bmp"
